.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: rgb(19, 71, 214);
}

.navBarIndex {
  position: fixed;
  top: 0px;
  z-index: 2;
}

/* Mobile screen  */
@media only screen and (max-width: 600px) {
  .carousel {
    position: relative;
    z-index: 1;
    margin-top: 90px !important;
  }
}

.carousel {
  position: relative;
  z-index: 1;
}
