.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: rgb(19, 71, 214);
}

.navBarIndex {
  position: fixed;
  top: 0px;
  z-index: 2;
}

.search {
  position: fixed;
  top: 50px;
  z-index: 3;
  background-color: rgb(241, 241, 241);
}

/* Mobile screen  */
/* @media only screen and (max-width: 600px) {
  .search {
    position: fixed;
    top: 90px;
    z-index: 3;
    background-color: rgb(241, 241, 241);
  }
} */


.carousel {
  position: relative;
  z-index: 1;
}
