/* Mobile screen  */

@media only screen and (max-width: 600px) {
  .TwoImgHead {
    height: 200px;
  }
  .heightOfImg {
    height: 200px;
  }
  .widthOfImg {
    width: 150px;
  }
}

/* Desktop screen  */

@media only screen and (min-width: 600px) {
  .TwoImgHead {
    height: 500px;
  }
  .heightOfImg {
    height: 400px;
  }
  .widthOfImg {
    width: 330px;
  }
}
